@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌿 Hide Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html, body {
  overflow: hidden; /* completely hides scrollbars */
}
